  <%- include('./includes/header.include.ejs'); %>
  <link rel="stylesheet" href="./assets/css/index.css">
  <title>HOME PAGE</title>
</head>
<body>
  <div class="banner">
    <img src="https://www.oguiademilao.com/wp-content/uploads/2020/09/Pizzaria-Cocciuto-em-Milao.jpg" alt="pizzaria">
  </div><!-- banner -->
  <%- include('./includes/menu.include.ejs'); %>

  <main>
    <h1>HOME PAGE</h1>
    <p>Seja bem-vindo ao home.</p>
  </main>

  <footer>

  </footer>
</body>
</html>